// ****** colors ********

$c-gray: #f8f9fa;
$c-gray-10: #dee2e6;
$c-gray-20: #d9d9d9;

$c-black: #343a40;
$c-black-10: #495057;

$c-blue: #55a6f8;

// element colors

$c-border: $c-gray-10;
$c-border-2: $c-gray-20;

$c-text: $c-black;
$c-text-2: $c-black-10;

$c-bg: $c-gray;

// semantic

$c-active: $c-blue;

@mixin container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
