// Primary colors
$c-orange-b: #f36705;
$c-orange: #f88300;
$c-orange-l: #ffb302;

// Second colors
$c-cyan-b: #39aaad;
$c-cyan: #6bc3bd;
$c-cyan-l: #e3f6f8;

$c-yellow: #eef66d;

// Gray
$c-black: #000;
$c-gray-bbb: #333333;
$c-gray-bb: #726f6a;
$c-gray-b: #c9c5bb;
$c-gray: #ebe8e3;
$c-gray-l: #f7f7f7;
$c-white: #fff;

$c-text: $c-gray-bbb;
$c-border: $c-gray;

$c-success: $c-cyan;
$c-warning: $c-orange;
$c-error: $c-orange-b;

@mixin container {
  display: block;
  position: relative;
  height: 100%;
}

@mixin readonly {
  cursor: default;
  pointer-events: none;
}

@mixin rounded {
  border-radius: 3px;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  padding: 25px;
}
