mc-button {
  &.button {
    &-signin {
      width: 100%;

      .button--button {
        width: 100%;
        color: #fff;
      }
    }

    &-icon {
      .button--button {
        border: 0;
      }
    }
  }
}

mc-icon {
  &.icon-button {
    line-height: 58px;
    height: 58px;
    &:hover {
      color: #000;
    }
  }

  &.icon-field {
    cursor: default;
  }
}