<div class="home-left-menu">
  <div class="home-left-menu--header">
    <a href="/" class="home-left-menu--header--logo">
      <span class="home-left-menu--header--logo home-left-menu--header--logo--1">Components</span>
      <span class="home-left-menu--header--logo--2"></span>
    </a>
    <div class="home-left-menu--header--right">
      <mc-button theme="icon" (click)="onClickMenuButton()">
        <mc-icon [theme]="['menu', 'button']"></mc-icon>
      </mc-button>
    </div>
  </div>
  <div class="home-left-menu--body">
    <mc-list [data]="menuData" (action)="onListAction($event)"></mc-list>
  </div>
</div>
