@import '../../../css/vars';

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 240px;
  height: 100%;
  border-right: 1px solid $c-border;
  transition: width 0.2s ease-in-out;
  background-color: #fff;

  .home-left-menu {
    &--header {
      border-bottom: 1px solid $c-border;
      padding: 0 20px;
      overflow: hidden;

      &--logo {
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 59px;
        font-weight: 700;

        &--1 {
          color: $c-black;
        }

        &--2 {
          color: $c-blue;
        }
      }

      &--right {
        position: absolute;
        right: 0;
        top: 0;
        width: 59px;
        background-color: #fff;
        text-align: center;
      }
    }

    &--body {}
  }

  &.minimized {
    width: 60px;
    overflow-x: hidden;
    .home-left-menu--header {
      padding-left: 60px;
      &--right {
        right: 'unset';
        left: 0;
      }
    }
  }

  &.active-hover {
    &:hover {
      width: 240px;
    }
  }
}
